*
{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

.top
{
    position: absolute;
    border-color: black;
    border-radius: 12px;
    background-color: blue;
    text-align: center;
    left: 700px;
    margin:22px;
    margin


    

}